body{
    background-color: #272727;
}
.splash{
    align-items: center;
    justify-content: center;
    height: 100%;
}
#content{
    margin-top: 50px;
}
#browse-table{
    margin-top: 20px;
}
.torrent:nth-child(odd){
    background-color: #d4d4d4;
}
.torrent:hover{
    background-color: #bdbdbd;
}
.form-input{
    height: auto;
    font-size: 16px;
}
#upload{
    max-width: 45%;
    margin:0 auto;
}
#login{
    max-width: 35%;
    margin:0 auto;
}
.seeds{
    color: rgb(0, 128, 0);
}
.leech{
    color: #F00;
}
th a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
}
.torrent-table th{
    position: relative;
}
.torrent-table thead th.sorting:after,.torrent-table thead th.sorting_asc:after,.torrent-table thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

.torrent-table thead th.sorting:after {
    content: "\f0dc";
    color: #808080;
    font-size: 0.85em;
}

.torrent-table thead th.sorting_asc:after {
    content: "\f0de";
}

.torrent-table thead th.sorting_desc:after {
    content: "\f0dd";
}