{% extends "layout/layout.twig" %}

{% block title %}About{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block pagetitle %}
    About
{% endblock %}
{% block content %}
    <h1>This is a bittorrent indexer site</h1>
    <p>You can upload torrent</p>
{% endblock %}