<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-inline" method="get" action="/search">
            <input type="search" name="torrent_search" placeholder="Search torrents" class="form-control">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
<div class="row">
    {# Search terms #}
</div>