{% extends "layout/layout.twig" %}

{% block title %}Upload{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block pagetitle %}
    Upload torrent
{% endblock %}
{% block content %}
    <form id="upload" method="post" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" class="form-control form-input form-top" name="name" placeholder="Torrent name" required autofocus>
        </div>
        <div class="form-group">
            <textarea class="form-control form-input form-middle" name="description" placeholder="Describe your torrent(Markdown format)"></textarea>
        </div>
        <div class="form-group">
            <input type="file" class="form-control form-input form-middle" name="torrentFile" required>
        </div>
        <div class="form-group">
            <label for="upload-category">Select category:</label>
            <select class="form-control" id="upload-category" name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% else %}
                    <option value="0">No categories</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
    </form>
{% endblock %}